@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --padding-x: 2rem;
  --max-column-width: 60ch;

  @apply text-base;

  @media (min-width: 1024px) {
    --padding-x: 6rem;
    @apply text-xl;
    --max-column-width: 120ch;
  }
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik.ttf");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

html,
body {
  @apply relative;
  @apply h-full;
  @apply w-full;
  font-family: 'Rubik', sans-serif;
  @apply text-slate-800;
  @apply scroll-smooth;
}

h2 {
  @apply text-3xl lg:text-5xl font-bold;
}

h3 {
  @apply text-2xl lg:text-3xl font-semibold;
}

section {
  a {
    @apply whitespace-nowrap;
    @apply font-semibold;
    @apply decoration-sky-800 text-sky-800;

    &:hover {
      @apply underline;
      @apply decoration-sky-900 text-sky-900;
    }

    &[target="_blank"]::after {
      content: " 🔗";
      @apply inline;
    }

    &[href^="#additional-notes-"] {
      &::before {
        content: "[";
      }

      &::after {
        content: "]";
      }
    }
  }

  p:not(:first-of-type) {
    @apply mt-4;
  }
}

.toUppercase {
  @apply font-bold uppercase;
}

.loading {
  @apply animate-pulse saturate-0 pointer-events-none;
}
